# Azure OpenAI API Configuration
AZURE_OPENAI_API_KEY=__OPEN_AI_SECRET__     # Replace with your actual API Key
AZURE_OPENAI_ACCOUNT=__OpenAi account__     # Replace with your OpenAI <your-resource-name>
AZURE_OPENAI_ENDPOINT=__URI_TO_OPEN_AI__    # e.g., https://<your-resource-name>.openai.azure.com/openai/

# User research/Arch/Poc account by for local development
AZURE_OPENAI_DEPLOY=False                                           # to deploy or not to deploy OpenAI
AZURE_OPENAI_RESOURCE_GROUP=GenAI                                   # for local testing
AZURE_OPENAI_SUBSCRIPTION_ID=3f032d0f-452b-4395-9444-c57b3962efd1   # for local testing

# For GCP
ML_GCP_CLIENT_SECRET=__KV_SECRET__
ML_TOKEN=__ML_ENDPOINT_SECRET__
ML_URL=__URI_TO_ML_INFERENCE__

# HGV API configurations
HGV_BASE_URL=HGV_BASE_URL
HGV_SUBSCRIPTION_KEY=HGV_SUBSCRIPTION_KEY

# Cosmos DB configuration from environment variables
COSMOSDB_ENDPOINT=__URI_TO_COSMOSDB__
COSMOSDB_ACCOUNT_KEY=__COSMOSDB_KEY__
COSMOSDB_DATABASE_NAME=AgenticInventoryEBOB     # Rename for your copy

# For SSO
SSO_ENABLED=True             # to SSO or not to SSO
SSO_CLIENT_ID=6466ee5d-8bd0-4b6d-b381-e78da2a635b4
SSO_TENANT_ID=1a0105b6-f4af-42cf-895d-25550fe6bd5a
HGV_REDIRECT_URL=http://localhost:8080

# general setting for local dev
HGV_DEBUG_LEVEL=10
LOG_LEVEL=INFO
PLAIN_LOGS=True
