[local]
url=http://127.0.0.1:8080
key=not_needed

[dev]
url=https://api.dev.onegrandvacation.com/agentic-inventory/v1/api
key=__AZURE_KEY__

[qat]
url=https://api.qat.onegrandvacation.com/agentic-inventory/v1/api
key= __AZURE_KEY__

[stg]
url=https://api.stg.onegrandvacation.com/agentic-inventory/v1/api
key= __AZURE_KEY__

[prd]
url=https://api.onegrandvacation.com/agentic-inventory/v1/api
key= __AZURE_KEY__
